* {
	margin: 0;
	padding: 0;
}

button {
  margin: 0;
  padding: 0;
  border: 0;
  background: none;
  font-size: 100%;
  vertical-align: baseline;
  font-family: inherit;
  font-weight: inherit;
  color: inherit;
  -webkit-appearance: none;
  appearance: none;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

body {
  font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
  line-height: 1.4em;
  background: #f5f5f5;
  color: #4d4d4d;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  font-smoothing: antialiased;
  font-weight: 300;
}

.vue-test-container {
  min-width: 230px;
  max-width: 550px;
  margin: 0 auto;
  font-size: 21px;
  line-height: 32px;
}

.header {
  text-align: center;
  padding: 15px 0;
}
.footer {
  margin-top: 5px;
  padding-top: 5px;
  border-top: 1px solid #DDD;
  text-align: center;
  color: #AAA;
  font-size: 14px;
  line-height: 21px;
}
.footer a{
  color: #999;
}